<div class="row">
    <div class="col border">
        <form>
            <table style="width: 100%;">

                <tr>
                    <td colspan="3" class="text-center">
                        <h3>Clasificacion del delito</h3>
                        <small>(Solo lo debe llenar el funcionario policial)</small>
                    </td>
                </tr>

                <div class="row">
                    
                    <div class="col offset-4 mt-3 border">

                        <tr>
                            <td>
                                <p> Tipo de Lugar de Ocurrencia: <span style="color: red; font-weight: bold;">*</span></p>
                            </td>
                            <td colspan="2">
                                <select>
                                    <option selected>Seleccione Institución a Cargo</option>
                                    <option value="1">Vía Pública</option>
                                    <option value="2">Local Comercial</option>
                                    <option value="3">Domicilio Particular</option>
                                    <option value="4">Establecimiento Educacional</option>
                                    <option value="5">A BORDO DE AVE O EMBARCACIÓN</option>
                                    <option value="6">INTERIOR PUERTO O TERMINAL</option>
                                    <option value="7">RAMPA</option>
                                    <option value="8">TERRENO DE PLAYA</option>
                                    <option value="9">ARTEFACTO NAVAL</option>
                                    <option value="10">MAR</option>
                                    <option value="otro">Otro</option>
                  
                                  </select>
                            </td>
                        </tr>



                        <tr>
                            <td>
                                <label>¿Fue incautado?</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>

                        <tr colspan="2">
                            <td>
                                Observación
                            <td>
                            <td>
                                <textarea class="form-control" ></textarea>
                            </td>
                        </tr>

                    </div>
                </div>
            </table>
            <div class="row mt-5">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" routerLink="/denunciante" routerLinkActive="active">Atrás</button>

                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" routerLink="/transporte" routerLinkActive="active" >Siguiente</button>

                </div>
                
            </div>
        </form>
    </div>
</div>