<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="padding-left: 50px;">Parte y Denuncia</span>
    </div>
</nav>

<div class="row mt-3" style="border: 1px solid red;">
    <!--area arriba-->
    <!-- <div class="col-4" style="border: 1px solid blue;"> -->
    <!--area izquierda-->

    <!-- </div> -->


    <div style="text-align: left;" class="col-6 offset-3" style="border: 1px solid black;">
        <!--area derecha-->


        <form>
            <tr>
                <td style="padding-left: 250px; padding-top: 50px;">
                    <legend>4.- Medio de Transporte Utilizado</legend>
                    <p style="padding-left: 45px;"> (Solo lo llena el funcionario policial)</p>

                </td>
            </tr>
            <br>

            <!-- ////////////////          1ra fila       ////////////////////// -->

            <div class="row border">
                <div class="col-2 border">
                    <p>Medio de Transporte de <b>llegada</b> del imputado</p>
                </div>
                <div class="col-5 border">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Pie</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Vehículo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">No Sabe</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Embarcación</label>
                    </div>

                </div>

                <div class="col-5 border">
                    <P>Detalle medio de Transporte de llegada : </P>

                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Nombre embarcación:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Nro. Matrícula:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>


                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Patente :</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Marca:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Modelo:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Color:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>

                </div>
            </div>


            <!-- ///////////////////      2da FILA    /////////////////// -->
            <br>

            <div class="row border">
                <div class="col-2 border">
                    <p>Medio de Transporte de <b>huida</b> del imputado</p>
                </div>
                <div class="col-5 border">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Pie</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Vehículo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">No Sabe</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Embarcación</label>
                    </div>

                </div>

                <div class="col-5 border">
                    <P>Detalle medio de Transporte de huida: </P>

                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Nombre embarcación:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Nro. Matrícula:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>


                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Patente :</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Marca:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Modelo:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Color:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>

                </div>
            </div>
            <!-- ///////////////////      3da FILA    /////////////////// -->
            <br>

            <div class="row border">
                <div class="col-2 border">
                    <p>Vehículo asociado al medio de transporte utilizado por los imputados (si existe)</p>
                </div>
                <div class="col-5 border">

                    <div>
                        <td style="padding-right: 20px;">
                            <label style="padding-right: 30px;">¿Encargado por robo? </label><br>

                        </td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione </option>
                            <option value="1">Si</option>
                            <option value="1">No</option>
                        </select>
                        </td>

                    </div>
                    <div>
                        <td style="padding-right: 20px;">
                            <label>¿Porta las Placas Patentes? </label><br>

                        </td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione </option>
                            <option value="1">Si</option>
                            <option value="1">No</option>
                        </select>
                        </td>

                    </div>

                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Información de Peajes:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>


                    </tr>

                </div>

                <div class="col-5 border">

                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Nro. de Encargo:</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>Información de Autopistas</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>


                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">
                            <label>¿Fue incautado? :</label>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>


                </div>
            </div>


            <!-- ///////////////////      3da FILA    /////////////////// -->
            <br>

            <div class="row border">
                <div class="col-2 border">
                </div>

                <tr>
                    <td style="padding-right: 50px;">
                        <label>Observación:</label>
                    </td>
                    <td>
                        <textarea class="form-control" rows="1"></textarea>
                    </td>
                </tr>

                <div class="col-5 border">
                </div>

            </div>

        </form>


        <tr>
            <td style="padding-left: 100PX;">
                <button type="submit" class="btn btn-primary " routerLink="/delito" routerLinkActive="active" style="margin-left: 150px; margin-top: 150px;">Atrás</button>

            </td>
            <td>
                <button type="submit" class="btn btn-primary " routerLink="/victima" routerLinkActive="active" style="margin-left: 250px; margin-top: 150px;">Siguiente</button>

            </td>
        </tr>

    </div>

</div>