<div class="row border">

    <div class="col">

        <form>

            <table style="width: 100%;">

                <tr>
                    <td colspan="3" class="" style="text-align: center;">
                        <h3>Medio de Transporte Utilizado</h3>
                        <small>(Solo lo llena el funcionario policial)</small>
                    </td>
                </tr>
                <!-- ////////////////          1ra fila       ////////////////////// -->
                <div class="row border">
                    <div class="col-2 ">
                        <p>Medio de Transporte de <b>llegada</b> del imputado</p>
                    </div>
                    <div class="col-2 border">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">Pie</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">Vehículo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">No Sabe</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">Embarcación</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <P>Detalle medio de Transporte de llegada : </P>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Nombre embarcación:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Nro. Matrícula:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary" type="button" id="button-addon1">Buscar</button>                        
                            </td>
                        </tr>
                    </div>
                    <div class="col-4 mt-5">
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Patente:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary mb-1" type="button" id="button-addon2">Buscar</button>                        
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Marca:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Modelo:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Color:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                    </div>
                </div>

                <div class="row border">
                    <div class="col-2 border">
                        <p>Vehículo asociado al medio de transporte utilizado por los imputados (si existe)</p>
                    </div>
                    <div class="col-5 border">
                        <!-- <div>
                            <td style="padding-right: 20px;">
                                <label style="padding-right: 30px;">¿Encargado por robo? </label><br>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                <option selected>Seleccione </option>
                                <option value="1">Si</option>
                                <option value="1">No</option>
                            </select>
                            </td>
                        </div> -->
                        <tr>
                            <td>
                                <label>¿Encargado por robo?</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>
                        <!-- <div>
                            <td style="padding-right: 20px;">
                                <label>¿Porta las Placas Patentes? </label><br>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                <option selected>Seleccione </option>
                                <option value="1">Si</option>
                                <option value="1">No</option>
                            </select>
                            </td>
                        </div> -->
                        <tr>
                            <td>
                                <label>Porta las Placas Patentes?</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Información de Peajes:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <label>Datos de Zarpé:</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr> -->
                        <!-- <tr>
                            <td>
                                <label>Datos de Posat:</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr> -->
                    </div>
                    <div class="col-5 border">
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Nro. de Encargo:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Información de Autopistas:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>¿Fue incautado?</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td style="padding-right: 10px;">
                                <label>Nro de Zarpe:</label>
                            </td>
                            <td>
                                <input type="number">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Lugar de Zarpe:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Datos del Armador:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Posat (posición actual):</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr> -->
                    </div>
                </div>
                <!-- ///////////////////      2da FILA    /////////////////// -->
                <div class="row">
                    <div class="col-2">
                        <p>Medio de Transporte de <b>huida</b> del imputado</p>
                    </div>
                    <div class="col-2 border">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">Pie</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">Vehículo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">No Sabe</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">Embarcación</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <P>Detalle medio de Transporte de huida: </P>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Nombre embarcación:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="mb-">Nro. Matrícula:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary" type="button" id="button-addon1">Buscar</button>                        
                            </td>
                        </tr>
                    </div>
                    <div class="col-4 mt-5">
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Patente:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary" type="button" id="button-addon1">Buscar</button>                        
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Marca:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Modelo:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Color:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                    </div>
                </div>
                <!-- ///////////////////      3da FILA    /////////////////// -->
                <div class="row border">
                    <div class="col-2 border">
                        <p>Vehículo asociado al medio de transporte utilizado por los imputados (si existe)</p>
                    </div>
                    <div class="col-5 border">
                        <!-- <div>
                            <td style="padding-right: 20px;">
                                <label style="padding-right: 30px;">¿Encargado por robo? </label><br>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                <option selected>Seleccione </option>
                                <option value="1">Si</option>
                                <option value="1">No</option>
                            </select>
                            </td>
                        </div> -->
                        <tr>
                            <td>
                                <label>¿Encargado por robo?</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>
                        <!-- <div>
                            <td style="padding-right: 20px;">
                                <label>¿Porta las Placas Patentes? </label><br>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                <option selected>Seleccione </option>
                                <option value="1">Si</option>
                                <option value="1">No</option>
                            </select>
                            </td>
                        </div> -->
                        <tr>
                            <td>
                                <label>Porta las Placas Patentes?</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Información de Peajes:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <label>Datos de Zarpé:</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr> -->
                        <!-- <tr>
                            <td>
                                <label>Datos de Posat:</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr> -->
                    </div>
                    <div class="col-5 border">
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Nro. de Encargo:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Información de Autopistas:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>¿Fue incautado?</label>
                            </td>
                            <td style="padding-left: 50px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td style="padding-right: 10px;">
                                <label>Nro de Zarpe:</label>
                            </td>
                            <td>
                                <input type="number">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Lugar de Zarpe:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Datos del Armador:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <label>Posat (posición actual):</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr> -->
                    </div>
                </div>
                <!-- ///////////////////      3da FILA    /////////////////// -->
                <div class="row border">
                    <div class="col-2 border">
                        Observación
                    </div>
                    <div class="col-5 ">
                        <tr>
                            <td>
                                <textarea class="form-control" rows="5" cols="130" ></textarea>
                            </td>
                        </tr>
                    </div>
                </div>
            </table>
            <div class="row mt-5">
                <div class="col d-grid gap-2"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/delito" routerLinkActive="active">Atrás</button></div>
                <div class="col d-grid gap-2"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/victima" routerLinkActive="active">Siguiente</button></div>                
            </div>
        </form>
    </div>
</div>