<div class="row">
    <!--area arriba-->

    <div class="col border">
        <form>
        <!--area derecha-->
            <table style="width: 100%;">
                <tr>
                    <td colspan="3" class="text-center">
                        <h3>Datos de la Víctima</h3>
                    </td>
                </tr>
                <div class="row">
                    
                    <div class="col-6">
                        <tr>
                            <td>
                                <label>Tipo de persona</label>
                            </td>

                            <td colspan="2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Natural</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Juridica</label>
                                </div>
                            </td>
                        </tr>

                        <!-- <fieldset disabled> -->
                        <tr>
                            <td>
                                <label>Nombre o Razon social</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Nombre Social (Identidad de Genero)</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Tipo de documento de identificación</label>
                            </td>
                            <td>
                                <select class="form-select" [(ngModel)]="selectedTipoDocumento" aria-label="Default select example">
                                    <option selected> Seleccionar</option>
                                    <option value="1">RUN</option>
                                    <option value="2">Pasaporte</option>
                                    <option value="3">DNI</option>
                                    <option value="otro">Otro</option>
                                </select>
                                <div class="form-group" *ngIf="selectedTipoDocumento == 'otro'">
                                    <input type="text" class="" id="name" ngModel name="other_college_name" required>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>N° de documentos de identificación:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Otro documento de identidad</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Fecha de nacimiento</label>
                            </td>
                            <td>
                                <input class="" type="date">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Ciudad de nacimiento</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Idioma o dialecto</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Nacionalidad</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Escolaridad</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Estado Migratorio</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">Permanencia transitoria</option>
                                        <option value="2">Residente temporal</option>
                                        <option value="3">Residente oficial</option>
                                        <option value="4">Residente definitivo</option>
                                        <option value="5">Ilegal</option>
                                    </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Sexo Registral (Registro Civil)</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">Masculino</option>
                                        <option value="2">Femenino</option>
                                    </select>
                            </td>
                        </tr>



                        <tr>
                            <td>
                                <label for="disabledSelect" class="form-label">Identidad de género</label>
                            </td>

                            <td>
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="IdentidadGenero" name="genero">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Hombre</option>
                                    <option value="2">Mujer</option> 
                                    <option value="3">No Consultado</option>
                                    <option value="gene">Otro</option>
                                </select>
                                <div class="form-group" *ngIf="IdentidadGenero == 'gene'">
                                    <input type="text" class="" id="name" ngModel name="other_college_name" required>
                                </div>
                            </td>
                        </tr>



                        <tr>
                            <td>
                                <label>Alias</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Pertenece a pueblo originario</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Profesion , oficio, ocupación</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="disabledSelect" class="form-label">Estado Civil</label>
                            </td>

                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccione Estado Civil</option>
                                    <option value="1">Soltero</option>
                                    <option value="1">Casado</option>    
                                    <option value="1">Separado de hecho</option>
                                    <option value="1">Divorciado</option>    
                                    <option value="1">Viudo</option>    
                                    <option value="1">Acuerdo Union Civil</option>    


                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Estado de Temperancia</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">Hálito alcohólico</option>
                                        <option value="2">Inestabilidad al camniar</option>
                                        <option value="3">Rostro congestionado</option>
                                        <option value="4">incoherencia al hablar</option>
                                        <option value="5">Normal</option>
                                    </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Estado</label>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Vivo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Muerto</label>
                                </div>
                                <br>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Presenta lesiones</label>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>¿Que lesiones? y origen de lesiones</label>
                            </td>
                            <td>
                                <textarea class="form-control" rows="4" cols="50"></textarea>
                                <br>
                            </td>
                        </tr>
                    </div>
                
                    <div class="col-6">

                        <tr>
                            <td>
                                <label for="disabledSelect" class="form-label">Tipo de Direccion</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="Domicilio" name="domic">
                                    <option selected>Seleccionar Tipo de Domicilio</option>
                                    <option value="1">Particular</option>
                                    <option value="2">Comercial</option>  
                                    <option value="domi">Otro</option>
                                </select>
                                <div class="form-group" *ngIf="Domicilio == 'domi'">
                                    <input type="text" class="" id="name" ngModel name="other_college_name" required>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Calle</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Numero</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Departamento/oficina</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Block</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Poblacion o Villa</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Sector</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Región: </p>

                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccione Región</option>
                                    <option value="1">I Región</option>
                                    <option value="1">II Región</option>
                                    <option value="2">III Región</option>
                                    <option value="3">IV Región</option>
                                    <option value="3">V Región</option>
                                    <option value="1">VI Región</option>
                                    <option value="1">VII Región</option>
                                    <option value="2">VIII Región</option>
                                    <option value="3">IX Región</option>
                                    <option value="3">X Región</option>
                                    <option value="1">XI Región</option>
                                    <option value="1">XII Región</option>
                                    <option value="2">XIII Región</option>
                                    <option value="3">XIV Región</option>
                                    <option value="3">XV Región</option>
                                    <option value="3">XVI Región</option>

                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label>Comuna</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Interseccion</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Observacion Referencia de la direccion</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <label for="disabledSelect" class="form-label">Datos del contacto</label>
                            </td>

                            <td colspan="2">
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="DatosContacto" name="contacto">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Particular</option>
                                    <option value="2">Comercial</option> 
                                    <option value="3">No tiene</option>
                                    <option value="contac">Otro</option>
                                </select>
                                <div class="form-group" *ngIf="DatosContacto == 'contac'">
                                    <input type="text" class="" id="name" ngModel name="other_college_name" required>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label>Telefono fijo</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Telefono Movil</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Correo electrónico</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td class="mb-3" style="padding-right: 50px;">
                                <label>Redes Sociales</label>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                                <div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Cuáles redes sociales</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>identificación/Login</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label for="disabledSelect" class="form-label">Con quién vive</label>
                            </td>

                            <td>
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="Convive" name="vive">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Papá</option>
                                    <option value="2">Mamá</option>
                                    <option value="3">Tíos</option>
                                    <option value="4">Abuelos</option>
                                    <option value="2">Residencia institucional</option>
                                    <option value="3">Situación Calle</option>
                                    <option value="quien">Otros</option>
                                </select>
                                <div class="form-group" *ngIf="Convive == 'quien'">
                                    <input type="text" class="" id="name" ngModel name="other_college_name" required>
                                </div>
                            </td>
                        </tr>





                        <tr>
                            <td>
                                <p>Si es residencia institucional, <br>particular u otra, detallar </p>
                                <p></p>

                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p>¿Conoce al denunciado(s)? <br> ¿Podría entregar descripción de él o ellos?</p>

                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="disabledSelect" class="form-label">Qué relación tiene con el denunciado(s)</label>
                            </td>
                            <td colspan="2">
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="RelacionDenunciado" name="denunciado">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Papá</option>
                                    <option value="2">Mamá</option>
                                    <option value="3">Tíos</option>
                                    <option value="4">Abuelos</option>
                                    <option value="5">Hermano</option>
                                    <option value="6">Vecino</option>
                                    <option value="6">Amigo(a)</option>
                                    <option value="6">Profesor(a)</option>
                                    <option value="6">Guardador</option>
                                    <option value="6">Ninguna</option>
                                    <option value="tiene">Otro</option>
                                </select>
                                <div class="form-group" *ngIf="RelacionDenunciado == 'tiene'">
                                    <input type="text" class="" id="name" ngModel name="other_college_name" required>
                                </div>
                            </td>
                        </tr>
                    </div>
                </div>

            </table>

            <br>
            <div class="row">
                <div class="col"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/transporte" routerLinkActive="active">Atrás</button></div>
                <div class="col"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/imputado" routerLinkActive="active">Siguiente</button></div>                
            </div>
        </form>    
    </div>
</div>