<div class="row">
    <!--area arriba-->

    <div class="col border">
        <form autocomplete="off" [formGroup]="miFormulario">
        <!--area derecha-->
          <div class="col">

                <div>
                    <div class="text-center">
                        <h3>Datos de la Víctima</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-sm-6 border">

                        <div class="row mb-2">
                            <label class="col-sm-4">Tipo de documento de identificación <span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected default>Seleccionar</option>
                                    <option value="1">RUT</option>
                                    <option value="2">Pasaporte</option>
                                    <option value="3">DNI</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">N° de documentos de identificación: <span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-outline-primary mb-1" type="button" id="button-addon2">Buscar</button>                        
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Tipo de persona <span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected default>Seleccionar</option>
                                    <option value="1">Natural</option>
                                    <option value="2">Juridica</option>
                                </select>
                            </div>
                        </div>

                        <!-- <fieldset disabled> -->
                        <div class="row mb-2">
                            <label class="col-sm-4">Nombre o Razon social</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Nombre Social (Identidad de Genero)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <!-- <div>
                            <div>
                                <label>Otro documento de identidad</label>
                            </div>
                            <div>
                                <input type="text">
                            </div>
                        </div> -->

                        <div class="row mb-2">
                            <label class="col-sm-4">Fecha de nacimiento <span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <input class="form-control" type="date">
                            </div>
                        </div>

                        <div class="row mb-2">
                             <label class="col-sm-4"> Ciudad de nacimiento</label>
                            <div class="col-sm-7"> 
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4" >Idioma o dialecto:</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Ingles</option>
                                    <option value="2">Frances</option>
                                    <option value="3">Aleman</option>
                                    <option value="4">Español</option>
                                </select>                            
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Nacionalidad:<span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">UCRANIA</option>
                                    <OPtion value="2">UGANDA</OPtion>
                                    <option value="3">3NGLATERRA (GRAN BRETANA)</option>
                                    <option value="4">ISLAS ULTRAMARINAS DE EE.UU.</option>
                                    <option value="5">RUSSIA</option>
                                    <option value="6">ESTADOS UNIDOS</option>
                                    <option value="7">VOLTA SUPERIOR</option>
                                    <option value="8">URUGUAY</option>
                                    <option value="9">UZBEKISTAN</option>
                                    <option value="10">VANUATU</option>
                                    <option value="11">SAINT VINCENT AND THE GRENADINES</option>
                                </select>                                          
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Escolaridad:</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Sin Estudios</option>
                                    <option value="2">Educacion Basica</option>
                                    <option value="3">Educacion Secundaria</option>
                                    <option value="4">Educacion Secundaria Incompleta</option>
                                    <option value="5">Educacion Universitaria</option>
                                </select>
                                                      
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Estado Migratorio</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">Permanencia transitoria</option>
                                        <option value="2">Residente temporal</option>
                                        <option value="3">Residente oficial</option>
                                        <option value="4">Residente definitivo</option>
                                        <option value="5">Ilegal</option>
                                    </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Sexo Registral (Registro Civil)</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">Masculino</option>
                                        <option value="2">Femenino</option>
                                    </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Identidad de Género</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Hombre</option>
                                    <option value="2">Mujer</option>  
                                    <option value="3">No Consultado</option>    
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Alias</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Pertenece a Pueblo originario</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Mapuches</option>
                                    <option value="2">Aymara</option>  
                                    <option value="3">Rapa Nui</option> 
                                    <option value="4">Diaguitas</option>
                                    <option value="5">Atacameños</option>
                                    <option value="6">Quechuas</option>
                                    <option value="7">Collas</option>
                                    <option value="8">No Pertenece</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row mb-2">
                            <label class="col-sm-4">Profesión / Oficio / Ocupación:</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">No Especifica</option>
                                    <option value="2">Administrador de Empresas</option>  
                                    <option value="3">Abogado</option> 
                                    <option value="4">Adminsitrativo</option>
                                    <option value="5">Agricultor</option>
                                    <option value="6">Agricultor Maderero</option>
                                    <option value="7">Agrónomo</option>
                                    <option value="8">Analista de Sistemas</option>
                                    <option value="9">Antropóloga</option>
                                    <option value="1">Empleado Armada</option>
                                    <option value="1">Armador Artesanal</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4" for="disabledSelect" >Estado Civil</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Soltero</option>
                                    <option value="1">Casado</option>    
                                    <option value="1">Separado de hecho</option>
                                    <option value="1">Divorciado</option>    
                                    <option value="1">Viudo</option>    
                                    <option value="1">Acuerdo Union Civil</option>    
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Estado<span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Vivo/a</option>
                                    <option value="2">Fallecido/a</option>
                                    <option value="3">Presenta Halito</option>
                                    <option value="4">Inestabilidad al caminar</option>
                                    <option value="5">Rostro Congestionado</option>
                                    <option value="6">Incoherencia al hablar</option>
                                    <option value="7">Presenta Lesiones</option>
                                </select>
                            </div>
                        </div>

                        <!-- <div>
                            <div>
                                <label>Estado</label>
                            </div>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Vivo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Muerto</label>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div>
                            <div>
                                <label>Presenta lesiones</label>
                            </div>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div> -->

                        <div class="row mb-2">
                            <label class="col-sm-4">¿Que lesiones? y origen de lesiones</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" rows="4" cols="50"></textarea>
                                <br>
                            </div>
                        </div>
                    </div>
                
                    <div class="col col-sm-6 border">

                        <div class="row mb-2">
                            <label for="disabledSelect" class="col-sm-4">Tipo de Direccion <span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example" name="domic">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Particular</option>
                                    <option value="2">Comercial</option>  
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Calle <span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Numero <span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Departamento/oficina</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Block</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Poblacion o Villa</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Sector</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                                <label class="col-sm-4"> Región: <span style="color: red; font-weight: bold;">*</span></label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">I Región</option>
                                    <option value="1">II Región</option>
                                    <option value="2">III Región</option>
                                    <option value="3">IV Región</option>
                                    <option value="3">V Región</option>
                                    <option value="1">VI Región</option>
                                    <option value="1">VII Región</option>
                                    <option value="2">VIII Región</option>
                                    <option value="3">IX Región</option>
                                    <option value="3">X Región</option>
                                    <option value="1">XI Región</option>
                                    <option value="1">XII Región</option>
                                    <option value="2">XIII Región</option>
                                    <option value="3">XIV Región</option>
                                    <option value="3">XV Región</option>
                                    <option value="3">XVI Región</option>

                                </select>
                            </div>

                        </div>

                        <div class="row mb-2">
                            <label  class="col-sm-4">Comuna:</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">ARICA</option>
                                    <option value="2">CAMARONES</option>
                                    <option value="3">PUTRE</option>
                                    <option value="4">GENERAL LAGOS</option>
                                    <option value="5">IQUIQUE</option>
                                    <option value="6">HUARA</option>
                                    <option value="7">CAMINA</option>
                                    <option value="8">COLCHANE</option>
                                    <option value="9">PICA</option>
                                    <option value="10">POZO ALMONTE</option>
                                    <option value="11">TOCOPILLA</option>
                                    <option value="12">MARIA ELENA</option>
                                    <option value="13">CALAMA</option>
                                    <option value="14">OLLAGUE</option>
                                    <option value="15">SAN PEDRO DE ATACAMA</option>
                                    <option value="16">ANTOFAGASTA</option>
                                </select>       
                            </div>
                        </div>
                        <!-- <div>
                            <div>
                                <label>Interseccion</label>
                            </div>
                            <div>
                                <input type="text">
                            </div>
                        </div> -->
                        <div class="row mb-2">
                            <label class="col-sm-4">Observacion Referencia de la direccion</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        <hr>

                        <div class="row mb-2">
                            <label class="col-sm-4" for="disabledSelect">Datos de contacto</label>
                            <div class="col-sm-7" colspan="2">
                                <select class="form-select" aria-label="Default select example" name="contacto">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Particular</option>
                                    <option value="2">Comercial</option> 
                                    <option value="3">No tiene</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mb-2">
                            <label class="col-sm-4">Telefono fijo</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Telefono Movil</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Correo electrónico</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Redes Sociales</label>
                            <div class="col-sm-7">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="inlineRadioOptions2" 
                                            value="option1"
                                            >
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="inlineRadioOptions2" 
                                            value="option2"
                                            
                                            checked>
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Cuáles Redes Sociales:</label>
                            <div class="col-sm-7">
                                <select class="form-select"
                                        >
                                    <option selected>Seleccionar</option>
                                    <option value="1">Twitter</option>
                                    <option value="2">Facebook</option>
                                    <option value="3">Instagram</option>
                                    <option value="4">Tegram</option>
                                    <option value="5">VK</option>
                                </select>       
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Agregar Identificación/Login</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>


                        <div class="row mb-2">
                            <label class="col-sm-4" for="disabledSelect">Con quién vive</label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Default select example" name="vive">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Papá</option>
                                    <option value="2">Mamá</option>
                                    <option value="3">Tíos</option>
                                    <option value="4">Abuelos</option>
                                    <option value="2">Residencia institucional</option>
                                    <option value="3">Situación Calle</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">Tipo de Residencia</label>
                            <div class="col-sm-7">
                                <select class="form-select"
                                        formControlName="tipoResidencia">
                                    <option value="null">Seleccionar</option>
                                    <option *ngFor="let tplugar of tpResidencia; let i=index" [ngValue]="tplugar">
                                        {{ tplugar }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2" *ngIf="miFormulario.get('tipoResidencia')?.value == 'Institucional'">
                            <label class="col-sm-4">Nombre residencia institucional</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>


                        <!-- <div>
                            <div>
                                <p>Si es residencia institucional, <br>particular u otra, detallar </p>
                                <p></p>

                            </div>
                            <div>
                                <input type="text">
                            </div>
                        </div> -->

                        <!-- <div class="row mb-2">
                            <label class="col-sm-4">¿Conoce al denunciado(s)?</label>
                            <div class="col-sm-7">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault1"
                                            >
                                    <label class="form-check-label" value="si" for="flexRadioDefault1">
                                        Si
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault2" 
                                            
                                            checked>
                                    <label class="form-check-label" value="no" for="flexRadioDefault2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div> -->

                        <div class="row mb-2">
                            <label class="col-sm-4">¿Conoce al denunciado(s)?</label>
                            <div class="col-sm-7">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault1"
                                            >
                                    <label class="form-check-label" value="si" for="flexRadioDefault1">
                                        Si
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault2" 
                                            
                                            checked>
                                    <label class="form-check-label" value="no" for="flexRadioDefault2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-4">¿Podría entregar descripción de él o ellos?</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        

                        <!-- <div>
                            <div>
                                <p>¿Conoce al denunciado(s)? <br> ¿Podría entregar descripción de él o ellos?</p>

                            </div>
                            <div>
                                <input type="text">
                            </div>
                        </div> -->

                        <div class="row mb-2">
                            <label class="col-sm-4">Qué relación tiene con el denunciado(s)</label>
                            <div class="col-sm-7" colspan="2">
                                <select class="form-select" name="denunciado">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Papá</option>
                                    <option value="2">Mamá</option>
                                    <option value="3">Tíos</option>
                                    <option value="4">Abuelos</option>
                                    <option value="5">Hermano</option>
                                    <option value="6">Vecino</option>
                                    <option value="6">Amigo(a)</option>
                                    <option value="6">Profesor(a)</option>
                                    <option value="6">Guardador</option>
                                    <option value="6">Ninguna</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="d-grid gap-2  mx-auto justify-content-md-end">
                        <button type="submit" class="btn btn-success btn-lg" routerLinkActive="active">Guardar</button>
                    </div>
                </div>  
                <br>            
                <div class="row">
                    <div class="col d-grid gap-2"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/transporte" routerLinkActive="active">Atrás</button></div>
                    <div class="col d-grid gap-2"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/imputado" routerLinkActive="active">Siguiente</button></div>                
                </div>
            </div>
        </form>
    </div>
</div>