<div class="row border">
    <div class="col">
        <form>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <p> Fecha y Hora: </p>
                    </td>
                    <td>
                        <input type="datetime-local">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Delito </p>
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Zona del Delito: </p>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione Institución a Cargo</option>
                            <option value="1">Rural</option>
                            <option value="1">Urbano</option>
                            <option value="2">Marítimo</option>
                            <option value="3">Fluvial</option>
                            <option value="3">Lacustre</option>
          
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Tipo de Lugar de Ocurrencia: </p>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="TipoOcurrencia" name="Ocurrencia">
                            <option selected>Seleccione Institución a Cargo</option>
                            <option value="1">Vía Pública</option>
                            <option value="2">Local Comercial</option>
                            <option value="3">Domicilio Particular</option>
                            <option value="4">Establecimiento Educacional</option>
                            <option value="otro">Otro</option>
          
                          </select>
                        <div class="form-group" *ngIf="TipoOcurrencia == 'otro'">
                            <input type="text" class="" id="name" ngModel name="other_college_name" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Lugar Específico de ocurrencia: </p>
                    </td>
                    <td>
                        <textarea class="form-control" rows="1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td rowspan="9">
                        <p>Dirección del Delito</p>
                    </td>
                    <td>                        
                    </td>
                </tr>
                <tr>
                    <td>  
                        <label>Calle:</label>   
                        <input type="text">                   
                    </td>                   
                </tr>
                <tr>
                    <td>    
                        <label>Número:</label> 
                        <input type="text">              
                    </td>                    
                </tr>
                <tr>
                    <td>                        
                    </td>                    
                </tr>
                <tr>
                    <td>                        
                    </td>                    
                </tr>
                <tr>
                    <td>                        
                    </td>                    
                </tr>
                <tr>
                    <td>                        
                    </td>                    
                </tr>
                <tr>
                    <td>                        
                    </td>                    
                </tr>
                <tr>
                    <td>                        
                    </td>                    
                </tr>
            </table>
            <tr>
                <td style="padding-left: 200px; padding-top: 20px;">
                    <legend>Datos Generales de la Denuncia</legend>
                    <p style="padding-left: 50px;"> (Solo lo llena el funcionario policial)</p>

                </td>
            </tr>
            <!-- <fieldset disabled> -->

            <br>

            <div class="row ">
                <div class="col-4">
                    <p> Fecha y Hora: </p>
                </div>
                <div class="col-8 ">
                    <input type="datetime-local">
                </div>
            </div>


            <div class="row ">
                <div class="col-4">
                    <p> Delito: </p>
                </div>
                <div class="col-8 ">
                    <textarea class="form-control" rows="1"></textarea>

                </div>
            </div>
            <div class="row ">
                <div class="col-4">
                    <p> Zona del Delito: </p>
                </div>
                <div class="col-8 ">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione Institución a Cargo</option>
                        <option value="1">Rural</option>
                        <option value="1">Urbano</option>
                        <option value="2">Marítimo</option>
                        <option value="3">Fluvial</option>
                        <option value="3">Lacustre</option>
      
                      </select>
                </div>
            </div>


            <div class="row ">
                <div class="col-4">
                    <p> Tipo de Lugar de Ocurrencia: </p>
                </div>
                <div class="col-8 ">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="TipoOcurrencia" name="Ocurrencia">
                        <option selected>Seleccione Institución a Cargo</option>
                        <option value="1">Vía Pública</option>
                        <option value="2">Local Comercial</option>
                        <option value="3">Domicilio Particular</option>
                        <option value="4">Establecimiento Educacional</option>
                        <option value="otro">Otro</option>
      
                      </select>
                    <div class="form-group" *ngIf="TipoOcurrencia == 'otro'">
                        <input type="text" class="" id="name" ngModel name="other_college_name" required>
                    </div>
                </div>
            </div>


            <div class="row ">
                <div class="col-4">
                    <p> Lugar Específico de ocurrencia: </p>
                </div>
                <div class="col-8 ">
                    <textarea class="form-control" rows="1"></textarea>

                </div>
            </div>

            <!-- //////////////   DIRECCIÓN DEL DELITO   ////////////////////                                                        -->
            <div class="row mt-3">
                <div class="col-3 ">
                    <p>Dirección del Delito</p>
                </div>
                <div class="col-7 ">
                    <tr>



                        <td>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Calle:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>


                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Número:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Departamento / Oficina:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Block:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Población o Villa:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Sector:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p> Región: </p>

                                </td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccione Región</option>
                                        <option value="1">I Región</option>
                                        <option value="1">II Región</option>
                                        <option value="2">III Región</option>
                                        <option value="3">IV Región</option>
                                        <option value="3">V Región</option>
                                        <option value="1">VI Región</option>
                                        <option value="1">VII Región</option>
                                        <option value="2">VIII Región</option>
                                        <option value="3">IX Región</option>
                                        <option value="3">X Región</option>
                                        <option value="1">XI Región</option>
                                        <option value="1">XII Región</option>
                                        <option value="2">XIII Región</option>
                                        <option value="3">XIV Región</option>
                                        <option value="3">XV Región</option>
                                        <option value="3">XVI Región</option>

                                      </select>
                                </td>

                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Comuna:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Intersección:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Luegar Específico:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Referencia de la dirección:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Latitud:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Longitud:</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                        </td>

                    </tr>
                </div>
            </div>


            <tr>
                <td>
                    <button type="submit" class="btn btn-primary " routerLink="/home" routerLinkActive="active" style="margin-left: 190px; margin-top: 80px;">Atrás</button>

                </td>
                <td>
                    <button type="submit" class="btn btn-primary " routerLink="/denunciante" routerLinkActive="active" style="margin-left: 250px; margin-top: 80px;">Siguiente</button>

                </td>
            </tr>

            <br><br><br><br>


        </form>


    </div>

</div>