<div class="row border">
    <div class="col">
        <form>
            <table style="width: 100%;">
                <tr>
                    <td colspan="3" class="" style="text-align: center;">
                        <h3>Datos Generales de la Denuncia</h3>
                        <small>(Solo lo llena el funcionario policial)</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Fecha y Hora: </p>
                    </td>
                    <td colspan="2">
                        <input type="datetime-local">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Delito </p>
                    </td>
                    <td colspan="2">
                        <textarea class="form-control" rows="1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Zona del Delito: </p>
                    </td>
                    <td colspan="2">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione Institución a Cargo</option>
                            <option value="1">Rural</option>
                            <option value="1">Urbano</option>
                            <option value="2">Marítimo</option>
                            <option value="3">Fluvial</option>
                            <option value="3">Lacustre</option>
          
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Tipo de Lugar de Ocurrencia: </p>
                    </td>
                    <td colspan="2">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="TipoOcurrencia" name="Ocurrencia">
                            <option selected>Seleccione Institución a Cargo</option>
                            <option value="1">Vía Pública</option>
                            <option value="2">Local Comercial</option>
                            <option value="3">Domicilio Particular</option>
                            <option value="4">Establecimiento Educacional</option>
                            <option value="otro">Otro</option>
          
                          </select>
                        <div class="form-group" *ngIf="TipoOcurrencia == 'otro'">
                            <input type="text" class="" id="name" ngModel name="other_college_name" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Lugar Específico de ocurrencia: </p>
                    </td>
                    <td colspan="2">
                        <textarea class="form-control" rows="1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td rowspan="9" style="vertical-align: text-top;">
                        <p>Dirección del Delito</p>
                    </td>
                    <td style="border-right: 0px;">  
                        <div class="row">
                            <div class="col-5">
                                <label>Calle:</label>
                            </div>
                            <div class="col-7">
                                <input type="text">  
                            </div>
                        </div>              
                    </td>
                    <td style="border-left: 0px;"></td>
                </tr>
                <tr>
                    <td>  
                        <div class="row">
                            <div class="col-5">
                                <label>Número:</label> 
                            </div>
                            <div class="col-7">
                                <input type="text">
                            </div>
                        </div>                        
                    </td>     
                    <td>
                        <div class="row">
                            <div class="col-5">
                                <label>Departamento/Oficina:</label>
                            </div>
                            <div class="col-7">
                                <input type="text">
                            </div>
                        </div> 
                    </td>              
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-5">
                                <label>Block:</label>
                            </div>
                            <div class="col-7">
                                <input type="text">
                            </div>
                        </div>
                       
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-5">
                                <label>Población o Villa:</label>
                            </div>
                            <div class="col-7">
                                <input type="text">
                            </div>
                        </div>                       
                    </td>
                </tr>
                <tr>
                    <td >
                        <div class="row">
                            <div class="col-5">
                                <label>Sector:</label>
                            </div>
                            <div class="col-7">
                                <input type="text">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-5">
                                <label>Región:</label>
                            </div>
                            <div class="col-7">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccione Región</option>
                                    <option value="1">I Región</option>
                                    <option value="1">II Región</option>
                                    <option value="2">III Región</option>
                                    <option value="3">IV Región</option>
                                    <option value="3">V Región</option>
                                    <option value="1">VI Región</option>
                                    <option value="1">VII Región</option>
                                    <option value="2">VIII Región</option>
                                    <option value="3">IX Región</option>
                                    <option value="3">X Región</option>
                                    <option value="1">XI Región</option>
                                    <option value="1">XII Región</option>
                                    <option value="2">XIII Región</option>
                                    <option value="3">XIV Región</option>
                                    <option value="3">XV Región</option>
                                    <option value="3">XVI Región</option>
        
                                  </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border-right: 0px;">    
                        <div class="row">
                            <div class="col-5">
                                <label>Comuna:</label> 
                            </div>
                            <div class="col-7">
                                <input type="text">       
                            </div>
                        </div>                                   
                    </td> 
                    <td style="border-left: 0px;"></td>                   
                </tr>
                <tr>
                    <td style="border-right: 0px;">  
                        <div class="row">
                            <div class="col-5">
                                <label>Lugar Específico:</label>
                            </div>
                            <div class="col-7">
                                <input type="text"> 
                            </div>
                        </div>                                            
                    </td>       
                    <td style="border-left: 0px;"></td>             
                </tr>
                <tr>
                    <td colspan="2">    
                        <label>Referencia de la dirección:</label> <input type="text">                   
                    </td>                    
                </tr>
                <tr>
                    <td>   
                        <label>Latitud:</label>  <input type="text">                   
                    </td>                  
                    <td>   
                        <label>Longitud:</label>  <input type="text">         
                    </td>                    
                </tr>
            </table>
            <br>
            <div class="row">
                <div class="col"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/home" routerLinkActive="active">Atrás</button></div>
                <div class="col"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/denunciante" routerLinkActive="active">Siguiente</button></div>                
            </div>
        </form>


    </div>

</div>