<!-- As a link -->


<!-- As a heading -->
<!-- <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="padding-left: 50px;">Parte y Denuncia</span>
    </div>
</nav> -->

<section>
    <div id="content">
        <form>
            <article>
                <h3>FORMULARIO PARTE Y DENUNCIA</h3>
            </article>    
            <div class="row">
                <div class="col-8 border">
                    <article>               
                            <div class="mb-3 mt-3">
                                <h6>Institución a Cargo: DIRECTEMAR </h6>        
                            </div>
                            <div class="mb-3 ">
                                <label style="padding-right: 50px;" for="disabledSelect" class="form-label">Institución a Cargo: DIRECTEMAR</label>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <p>Unidad Policial:</p>
                                </div>                            
                                <div class="col-9">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccione reparticion</option>
                                        <option value="1">CAPITANIA DE PUERTO VALPARAISO</option>  
                                        <option value="2">CAPITANIA DE PUERTO SAN ANTONIO</option>  
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <p>Parte:</p>
                                </div>                            
                                <div class="col-9">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccione tipo de parte</option>
                                        <option value="1">DENUNCIA SIN DETENIDO.</option>
                                        <option value="2">DENUNCIA CON DETENIDO.</option>
                                        <option value="3">PARTE POLICIAL.</option>  
                                      </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <p>Conducción:</p>
                                </div>                            
                                <div class="col-9">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccione conducción</option>
                                        <option value="1">Pasa a control de deteccion</option>
                                        <option value="2">No pasa a control de deteccion.</option>
                                        <option value="3">En espera de citación fiscalia.</option>  
                                      </select>
                                </div>
                            </div>  
                            
                            <tr>
                                <td style="padding-right: 50px;">
                                    <label>Número de Parte: N° 6.853 N°</label>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <td>
                                    <label> Fecha inicio de la Denuncia: <input type="date"></label>
                                </td>
                                <td style="padding-left: 10px;">
                                    <label> Hora inicio de la Denuncia: <input type="time"></label>
                
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label> Fecha fin de la Denuncia: <input type="date" style="margin-left: 20px;" ></label>
                                </td>
                                <td style="padding-left: 10px;">
                                    <label> Hora fin de la Denuncia: <input type="time" style="margin-left: 20px;"></label>
                                </td>
                            </tr>
                    </article> 
                </div> 
                <div class="col-4 border">   
                    <div class="mb-3 mt-3">
                        <h6>Lugar de Adopción del Procedimiento: </h6>
                    </div> 
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Guardia</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Borde Costero</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Unidad Marítima</label>
                    </div>
                    <div class="form-check">
                        <tr>
                            <td style="padding-right: 50px;">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label>Otro Lugar:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                    </div>
                </div>
            </div>        
            <div class="clearfix"></div>
            <!-- section -->   
            <br>
            <!-- <div class="row">
                <div class="col p-2">            
                      
                        <h3>Acta General de la Denuncia </h3>
                        <br>
                        <div class="row ">
                            <div class="col-3">
                            </div>
                            <div class="col-3 ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">Con Denenidos</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">Sin Detenidos</label>
                                </div>
                            </div>
                            <div class="col-4 ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">Pasa a Control de Detención</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">No pasa a Control de Detención</label>
                                </div>
            
                            </div>
                        </div>
                    </div>        
            </div>
            <br> -->
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" routerLink="/datosgenerales" routerLinkActive="active">Siguiente</button>
                </div>
                           </div>        
        </form>  
    </div>

</section>

