<!-- As a link -->


<!-- As a heading -->
<!-- <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="padding-left: 50px;">Parte y Denuncia</span>
    </div>
</nav> -->

<section>
    <div id="content" class="">
        <form>
            <article>
                <h3>FORMULARIO PARTE Y DENUNCIA</h3>
            </article>    
            <div class="row border">
                <div class="col-8 border">
                    <article>               
                            <div class="mb-3 mt-3">
                                <label style="padding-right: 50px;" for="disabledSelect" class="form-label">Institución a Cargo: DIRECTEMAR</label>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Gobernación Maritima:</p>
                                </div>                            
                                <div class="col-8">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">GOBERNACIÓN MARÍTIMA DE ARICA</option>  
                                        <option value="2">GOBERNACIÓN MARÍTIMA DE IQUIQUE</option>  
                                        <option value="3">GOBERNACIÓN MARÍTIMA DE ANTOFAGASTA</option>  
                                        <option value="4">GOBERNACIÓN MARÍTIMA DE CALDERA</option>  
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Unidad Policial:</p>
                                </div>                            
                                <div class="col-8">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">CAPITANIA DE PUERTO VALPARAISO</option>  
                                        <option value="2">CAPITANIA DE PUERTO SAN</option>  
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Parte:</p>
                                </div>                            
                                <div class="col-8">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">DENUNCIA SIN DETENIDO.</option>
                                        <option value="2">DENUNCIA CON DETENIDO.</option>
                                        <option value="3">PARTE POLICIAL.</option>  
                                      </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Conducción:</p>
                                </div>                            
                                <div class="col-8">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccionar</option>
                                        <option value="1">Pasa a control de deteccion</option>
                                        <option value="2">No pasa a control de deteccion.</option>
                                        <option value="3">En espera de citación fiscalia.</option>  
                                      </select>
                                </div>
                            </div>  

                            <div class="row">

                                <div class="col-4">
                                    <label>Número de Parte: N° 6.853 N°</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control">

                                </div>

                            </div>

                            <br>
                            <tr>
                                <td>
                                    <label class="form-label"> Fecha inicio de la Denuncia: <input type="date"></label>
                                </td>
                                <td style="padding-left: 10px;">
                                    <label > Hora inicio de la Denuncia: <input  type="time"></label>
                
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label> Fecha fin de la Denuncia: <input type="date" style="margin-left: 20px;" ></label>
                                </td>
                                <td style="padding-left: 10px;">
                                    <label> Hora fin de la Denuncia: <input type="time" style="margin-left: 20px;"></label>
                                </td>
                            </tr>
                    </article> 
                </div> 
                <div class="col-4 border">   
                    <div class="mb-3 mt-3">
                        <h6>Lugar de Adopción del Procedimiento: </h6>
                    </div> 

                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexCheckDefault">Guardia</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexCheckChecked">Borde Costero</label>
                    </div>
                    <div class="form-check">
                        <input  class="form-check-input" type="radio" value="3" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexCheckChecked">Unidad Marítima</label>
                    </div>
                    <div class="form-check">
                        <tr>
                            <td style="padding-right: 50px;">
                                <input  class="form-check-input" [(ngModel)]="selectedTLugarProcedimiento"  type="radio" value="otro" name="flexRadioDefault" id="flexRadioDefault4">
                                <label class="form-check-label" for="flexCheckChecked">Otro</label>
                                <div class="form-group" *ngIf="selectedTLugarProcedimiento">
                                    <label>Lugar</label>
                                    <input type="text" class="" id="name" ngModel name="">
                                </div>
                            </td>
                        </tr>
                    </div>

                </div>
            </div>        
            <div class="clearfix"></div>
            <!-- section -->   
            <br>
            <!-- <div class="row">
                <div class="col p-2">            
                      
                        <h3>Acta General de la Denuncia </h3>
                        <br>
                        <div class="row ">
                            <div class="col-3">
                            </div>
                            <div class="col-3 ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">Con Denenidos</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">Sin Detenidos</label>
                                </div>
                            </div>
                            <div class="col-4 ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">Pasa a Control de Detención</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">No pasa a Control de Detención</label>
                                </div>
            
                            </div>
                        </div>
                    </div>        
            </div>
            <br> -->
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4 d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" routerLink="/datosgenerales" routerLinkActive="active">Siguiente</button>
                </div>
            </div>        
        </form>  
    </div>

</section>

