<div class="row">

    <div class="col-5 offset-4 mt-2">

        <form>
            <!-- <fieldset disabled> -->
            <legend>Datos de funcionario(s) acompañante(s) del procedimiento(s)</legend>


            <tr>
                <td class="mb-3">
                    <label>Nombre:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>RUN:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>Grado:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>NPI:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Rol en el procedimiento:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Firma:</label>
                </td>
                <td>
                    <p>___________________</p>
                </td>
            </tr>
            <hr>
            <tr>
                <td class="mb-3">
                    <label>Nombre:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>RUN:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>Grado:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>NPI:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Rol en el procedimiento:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Firma:</label>
                </td>
                <td>
                    <p>___________________</p>
                </td>
            </tr>
            <hr>

            <tr>
                <td style="padding-right: 50px;">
                    <button type="button" class="btn btn-success">Imprimir Parte y Denuncia</button>
                </td>

                <td style="padding-right: 50px;">
                    <button type="button" class="btn btn-success">Adjuntar Documentos</button>
                </td>


            </tr>
            <br>
            <tr>

            </tr>


            <!-- </fieldset> -->

            <td>
                <button type="submit" class="btn btn-primary " routerLink="/fiscal" routerLinkActive="active" style="margin-left: 50px; margin-top: 150px;">Atrás</button>

            </td>
            <td>
                <button type="submit" class="btn btn-primary " routerLink="/home" routerLinkActive="active" style="margin-left: 100px; margin-top: 150px;">Inicio</button>

            </td>
            <td>
                <button type="submit" class="btn btn-primary " routerLink="/funcionarios" routerLinkActive="active" style="margin-left: 100px; margin-top: 150px;">Grabar</button>

            </td>


        </form>
    </div>
</div>