<!-- As a link -->


<!-- As a heading -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="padding-left: 50px;">Parte y Denuncia</span>
    </div>
</nav>

<div class="row">

    <div class="col-5 offset-4">

        <form>
            <!-- <fieldset disabled> -->
            <legend>Datos de funcionario(s) acompañante(s) del procedimiento(s)</legend>

            
            <tr>
                <td class="mb-3">
                    <label>Nombre:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>Rut:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>Grado:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>NPI:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Rol en el procedimiento:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Firma:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <hr>
            <tr>
                <td class="mb-3">
                    <label>Nombre:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>Rut:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>Grado:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3">
                    <label>NPI:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Rol en el procedimiento:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Firma:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <hr>

            <tr>
                <td style="padding-right: 50px;">
                    <button type="button" class="btn btn-success">Agregar Datos Funcionario</button>
                </td>
            </tr>


            <!-- </fieldset> -->


            <button type="submit" class="btn btn-primary"  style="margin-left: 500px; margin-top: 100px;">Enviar</button>
        
        </form>
    </div>
</div>