<div class="row border">
  


    <div class="col border">

        <form>
            <div class="col">
                <div>
                    <div class="text-center">
                        <h3>Instrucciones del fiscal </h3>
                        <small>(En caso de contactos telefonicos)</small>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col col-sm mt-3">

                        <div class="row mb-2">
                            <label class="col-sm-3">¿Hubo contacto con el fiscal?</label>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault1"
                                            (click)="habilitarCampoFiscal()"
                                            >
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Si
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault2" 
                                            (click)="habilitarCampoFiscal()"
                                            checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-3">Nombre de Fiscal:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"  [disabled]="textBoxDisabledFiscal">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-3">Fiscalia local de:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"  [disabled]="textBoxDisabledFiscal">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-3">Instrucciones:</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" rows="5" cols="50"  [disabled]="textBoxDisabledFiscal"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="d-grid gap-2  mx-auto justify-content-md-end">
                    <button type="submit" class="btn btn-success btn-lg" routerLinkActive="active">Guardar</button>
                </div>
            </div>  
            <br>
            <div class="row mt-3">
                <div class="col d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg" routerLink="/relato" routerLinkActive="active">Atrás</button>

                </div>
                <div class="col d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg" routerLink="/funcionarios" routerLinkActive="active" >Siguiente</button>
                </div>
            </div>

        </form>
    </div>

</div>