<!-- As a link -->


<!-- As a heading -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="padding-left: 50px;">Parte y Denuncia</span>
    </div>
</nav>

<div class="row mt-5">
    <div class="col-4">

    </div>


    <div style="text-align: left;" class="col-4">

        <form>
            <!-- <fieldset disabled> -->
            <legend>Instrucciones del fiscal (En caso de contactos telefonicos)</legend>

            
            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>¿Hubo contacto con el fiscal?</label>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Si
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            No
                        </label>
                      </div>
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Nombre de Fiscal:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td class="mb-3" style="padding-right: 50px;">
                    <label>Instrucciones</label>
                </td>
                <td>
                    <textarea class="form-control" rows="4" cols=""></textarea>
                </td>
            </tr>

            



            <!-- </fieldset> -->


            <button type="submit" class="btn btn-primary " routerLink="/datosgenerales" routerLinkActive="active" style="margin-left: 500px; margin-top: 100px;">Siguiente</button>



        </form>




    </div>

</div>