<!-- <app-navbar></app-navbar> -->

<!-- <div class="container main-container"> -->
<div id="container">
    <header>
        <h1>
            <span >Parte y Denuncia</span>
        </h1>       
    </header>
    <nav class="nav">
        <!-- /////////////////////***********DATOS GENERALES************************////////////// -->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Datos Generales
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/home" style="color:black">1.- Encabezado</a></li>
                <li><a class="dropdown-item" href="/datosgenerales" style="color:black">2.- Datos Generales</a></li>
                <li><a class="dropdown-item" href="/relato" style="color:black">3.- Relato Funcionario</a></li>
            </ul>
        </div>
        <!-- /////////////////////**************PARTE SIN DETENIDO*********************////////////// -->

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Parte sin Detenido
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/denunciante" style="color:black">4.- Datos del Denunciante</a></li>
                <li><a class="dropdown-item" href="/victima" style="color:black">5.- Datos de la Víctima</a></li>
                <li><a class="dropdown-item" href="/imputado" style="color:black">6.- Datos del Imputado </a></li>
                <li><a class="dropdown-item" href="/delito" style="color:black">7.- Clasificación del Delito</a></li>
                <li><a class="dropdown-item" href="/relato" style="color:black">8.- Relato Funcionario a Cargo</a></li>
            </ul>
        </div>


        <!-- /////////////////////**************PARTE CON DETENIDO*********************////////////// -->

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Parte con Detenido
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/denunciante" style="color:black">4.- Datos del Denunciante</a></li>
                <li><a class="dropdown-item" href="/victima" style="color:black">5.- Datos de la Víctima</a></li>
                <li><a class="dropdown-item" href="/testigo" style="color:black">6.- Datos del Testigo</a></li>
                <li><a class="dropdown-item" href="/delito" style="color:black">7.- Clasificación del Delito</a></li>
                <li><a class="dropdown-item" href="/relato" style="color:black">8.- Relato Funcionario a Cargo</a></li>
                <li><a class="dropdown-item" href="/imputado" style="color:black">9.- Datos de Imputado</a></li>
                <li><a class="dropdown-item" href="/fiscal" style="color:black">10.- Instrucción del Fiscal</a></li>
            </ul>
        </div>
        <!-- /////////////////////**************PARTE CON DETENIDO*********************////////////// -->

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Parte Policial
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#" style="color:black">No está en Formulario</a></li>

            </ul>
        </div>
    </nav>

    <div class="clearfix"></div> 
    <article id="content">
        <router-outlet></router-outlet>       
    </article>  
    <!-- <aside>
        <h2>barra lateral</h2>
        <form>
            <input type="text">
            <input type="submit">
        </form>
    </aside>       -->
</div>
<div class="clearfix"></div> 

<!-- el footer fuera del contenedorp ara que ocupe toda la pantalla de largo-->
<footer>
    <span class="p-t-10">DAG.2022</span>
</footer>



<!-- </div> -->