<div class="row">
    <div class="col border">
        <!--area derecha-->
        <form autocomplete="off" [formGroup]="miFormulario"> 
            <!-- <fieldset disabled> -->
            <table style="width: 100%;">
                <tr>
                    <td colspan="3" class="text-center">
                        <h3>Datos del Denunciante</h3>
                    </td>
                </tr>
                <div class="row">
                    <div class="col-6 border">


                        <tr>
                            <td >
                                <label>Nombre:<span style="color: red; font-weight: bold;">*</span></label>
                            </td>
                            <td>
                                <input class="form-control"
                                        type="text"
                                        formControlName="nombre">
                                <span class="form-text text-danger"
                                        *ngIf="campoValido('nombre')">
                                    El nombre es obligatorio
                                </span>
                            </td>
                        </tr>


                        <tr>
                            <td >
                                <label>Nombre Social (Identidad de Género):</label>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>

                        <!-- NGMODEL ******************   OTRO    -->
                        <tr>
                            <label class="form-label">Tipo de documento de Identificación:
                                <span style="color: red; font-weight: bold;">*</span>
                            </label>
                            <td>
                                <select class="form-select" 
                                        formControlName="tipoDocumento">
                                    <option [ngValue]="null" disabled>Seleccionar</option>
                                    <option value="1">RUN</option>
                                    <option value="2">DNI</option>
                                    <option value="3">Pasaporte</option>
                                </select>
                                <span class="form-text text-danger"
                                        *ngIf="campoValido('tipoDocumento')">
                                    El tipo de documento es obligatorio
                                </span>
                            </td>
                        </tr>
                        <!--  NGMODEL ******************   OTRO    -->
                        <tr>
                            <td>
                                <label class="">N° de documento de identificación: <span style="color: red; font-weight: bold;">*</span></label>
                            </td>
                            <td>
                                <input type="text"  class="form-control" value="Seleccionar" formControlName="numeroDocumento" aria-describedby="button-addon2">
                            </td>
                            <td>
                                <button class="btn btn-outline-primary mb-1 form-control" type="button" id="button-addon2">Buscar</button>                        
                            </td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td class="form-text text-danger"
                                        *ngIf="campoValido('numeroDocumento')">
                                El numero de documento es obligatorio
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <label>Otros documentos de identidad:</label>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr> -->
                        <tr>
                            <td>
                                <label>Fecha de nacimiento: <span style="color: red; font-weight: bold;">*</span></label>
                            </td>
                            <td>
                                <input type="date" 
                                        class="form-control"
                                        formControlName="fechaNacimiento">
                                <span class="form-text text-danger"
                                        *ngIf="campoValido('fechaNacimiento')">
                                        La Fecha de nacimiento es obligatoria
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Ciudad de Nacimiento: <span style="color: red; font-weight: bold;">*</span></label>
                            </td>
                            <td>
                                <input type="text" 
                                        class="form-control"
                                        formControlName="ciudadNacimiento">
                                <span class="form-text text-danger"
                                        *ngIf="campoValido('ciudadNacimiento')">
                                        La Ciudad de Nacimiento es obligatoria
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Idioma o dialecto:</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Ingles</option>
                                    <option value="2">Frances</option>
                                    <option value="3">Aleman</option>
                                    <option value="4">Español</option>
                                </select>                            
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Nacionalidad:<span style="color: red; font-weight: bold;">*</span></label>
                            </td>
                            <td>
                                <select class="form-select"
                                    formControlName="nacionalidad">

                                    <option [ngValue]="null" disabled>Seleccionar</option>
                                    <option value="1">UCRANIA</option>
                                    <OPtion value="2">UGANDA</OPtion>
                                    <option value="3">3NGLATERRA (GRAN BRETANA)</option>
                                    <option value="4">ISLAS ULTRAMARINAS DE EE.UU.</option>
                                    <option value="5">RUSSIA</option>
                                    <option value="6">ESTADOS UNIDOS</option>
                                    <option value="7">VOLTA SUPERIOR</option>
                                    <option value="8">URUGUAY</option>
                                    <option value="9">UZBEKISTAN</option>
                                    <option value="10">VANUATU</option>
                                    <option value="11">SAINT VINCENT AND THE GRENADINES</option>
                                </select>        
                                <span class="form-text text-danger"
                                        *ngIf="campoValido('nacionalidad')">
                                    La Nacionalidad es obligatoria
                                </span>                 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Escolaridad:</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Sin Estudios</option>
                                    <option value="2">Educacion Basica</option>
                                    <option value="3">Educacion Secundaria</option>
                                    <option value="4">Educacion Secundaria Incompleta</option>
                                    <option value="5">Educacion Universitaria</option>
                                </select>
                                                      
                            </td>
                        </tr>
                        <tr>
                            <label for="disabledSelect" class="form-label">Estado Migratorio</label>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                <option selected>Seleccionar</option>
                                <option value="1">Permanencia transitoria</option>
                                <option value="1">Residente oficial</option>    
                                <option value="1">Residente temporal</option>
                                <option value="1">Residente definitivo</option>    
                                <option value="1">Ilegal</option>  
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <label for="disabledSelect"  class="form-label">Sexo Registral (Registro Civil)<span style="color: red; font-weight: bold;">*</span></label>
                            <td>
                                <select class="form-select"
                                        formControlName="sexoRegistral">
                                    <option [ngValue]="null" disabled>Seleccionar</option>
                                    <option value="1">Masculino</option>
                                    <option value="1">Femenino</option>       
                                </select>

                                <span class="form-text text-danger"
                                        *ngIf="campoValido('sexoRegistral')">
                                    El Sexo Registral obligatorio
                                </span>
                            </td>
                        </tr>

                        <!-- NGMODEL ******************   OTRO    -->

                        <tr>
                            <label for="disabledSelect" class="form-label">Identidad de Género</label>

                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Hombre</option>
                                    <option value="2">Mujer</option>  
                                    <option value="3">No Consultado</option>    
                                </select>
                            </td>
                        </tr>

                        <!--  NGMODEL ******************   OTRO    -->
                        
                        <tr>
                            <td>
                                <label>Alias:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" >
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Pertenece a Pueblo originario</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Mapuches</option>
                                    <option value="2">Aymara</option>  
                                    <option value="3">Rapa Nui</option> 
                                    <option value="4">Diaguitas</option>
                                    <option value="5">Atacameños</option>
                                    <option value="6">Quechuas</option>
                                    <option value="7">Collas</option>
                                    <option value="8">No Pertenece</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Profesión / Oficio / Ocupación:</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">No Especifica</option>
                                    <option value="2">Administrador de Empresas</option>  
                                    <option value="3">Abogado</option> 
                                    <option value="4">Adminsitrativo</option>
                                    <option value="5">Agricultor</option>
                                    <option value="6">Agricultor Maderero</option>
                                    <option value="7">Agrónomo</option>
                                    <option value="8">Analista de Sistemas</option>
                                    <option value="9">Antropóloga</option>
                                    <option value="1">Empleado Armada</option>
                                    <option value="1">Armador Artesanal</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <label for="disabledSelect" class="form-label">Estado Civil</label>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Soltero</option>
                                    <option value="1">Casado</option>    
                                    <option value="1">Separado de hecho</option>
                                    <option value="1">Divorciado</option>    
                                    <option value="1">Viudo</option>    
                                    <option value="1">Acuerdo Union Civil</option>
                                </select>
                            </td>
                        </tr>

                        <!-- <legend style="padding-left: 300px;">Domicilio </legend> -->

                        <hr>

                        <!-- <fieldset AQUI IBA DOMICILIO   disabled> -->

                        <p>Datos de Contacto:</p>
                        <tr>
                            <td>
                                <label for="disabledSelect" class="form-label">Tipo de Contacto</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example" >
                                    <option selected>Seleccionar</option>
                                    <option value="1">Particular</option>
                                    <option value="2">Comercial</option>  
                                    <option value="3">No tiene</option>    
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Teléfono Fijo:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Teléfono Móvil:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Correo Electrónico:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>

                        <!-- <tr>
                            <td style="padding-right: 50px;">
                                <label>Redes Sociales:</label>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccione Si / No </option>
                                        <option value="1">Si</option>
                                        <option value="1">No</option>
                                    </select>
                            </td>
                        </tr> -->

                        <tr>
                            <td>
                                <label>Redes Sociales:</label>
                            </td>

                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"  
                                            type="radio" 
                                            name="inlineRadioOptions" 
                                            value="option1"
                                            (click)="habilitarCampoRedes()">
                                    <label class="form-check-label"  for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" 
                                            type="radio" 
                                            name="inlineRadioOptions" 
                                            value="option2"
                                            (click)="habilitarCampoRedes()"
                                            checked>
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </td>
                        </tr>
                        
                            <tr>
                                <label class="form-label">Cuáles Redes Sociales:</label>
                                <td>
                                    <select class="form-select" 
                                            [disabled]="textBoxDisabledRedes">
                                        <option selected>Seleccionar</option>
                                        <option value="1">Twitter</option>
                                        <option value="2">Facebook</option>
                                        <option value="3">Instagram</option>
                                        <option value="4">Tegram</option>
                                        <option value="5">VK</option>
                                    </select>       
                                </td>
                            </tr>


                        <tr>
                            <td>
                                Agregar Identificación/Login
                            </td>
                            <td>
                                <input type="text" class="form-control" [disabled]="textBoxDisabledRedes">
                            </td>
                        </tr>

                        <!-- <tr>
                            <td>
                                <div class="row p-3">
                                    <div class="col-1"><input class="form-check-input" type="checkbox"></div>
                                    <div class="col-4">Twitter</div>
                                    <div class="col-3"><input type="text"></div>
                                </div>
                                <div class="row p-3">
                                    <div class="col-1"><input class="form-check-input" type="checkbox"></div>
                                    <div class="col-4">Instagram</div>
                                    <div class="col-3"><input type="text"></div>
                                </div>
                                <div class="row p-3">
                                    <div class="col-1"><input class="form-check-input" type="checkbox"></div>
                                    <div class="col-4">Facebook</div>
                                    <div class="col-3"><input type="text"></div>
                                </div>
                                <div class="row p-3">
                                    <div class="col-1"><input class="form-check-input" type="checkbox"></div>
                                    <div class="col-4">Youtube</div>
                                    <div class="col-3"><input type="text"></div>
                                </div>
                                <div class="row p-3">
                                    <div class="col-1"><input class="form-check-input" type="checkbox"></div>
                                    <div class="col-4">Linked-In</div>
                                    <div class="col-3"><input type="text"></div>
                                </div>
                                
                            </td>

                        </tr> -->


                        <!-- /////////////////////////////////      DATOS DE CONTACTO     ////////////////////////////// -->
                    </div>
                    <div class="col-6 border">

                        <p>Dirección:</p>

                        <div class="row">

                        <!-- /////////////////  1RA PARTE DEL COL  /////////////        -->

                        <!-- <div class="col-3 ">
                            <p></p>
                        </div> -->

                        <!-- /////////////////  2DA PARTE DEL COL  /////////////        -->
                            <div class="col-10 ">
                                <tr>
                                    <label class="form-label">Tipo de Dirección</label>

                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Seleccionar</option>
                                            <option value="1">Contacto Particular</option>
                                            <option value="2">Contacto Comercial</option>  
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label>Calle:<span style="color: red; font-weight: bold;">*</span></label>
                                    </td>
                                    <td>
                                        <input type="text" 
                                                class="form-control"
                                                formControlName="calle">
                                        <span class="form-text text-danger"
                                                *ngIf="campoValido('calle')">
                                            La calle es obligatoria
                                        </span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label>Número:<span style="color: red; font-weight: bold;">*</span></label>
                                    </td>
                                    <td>
                                        <input type="text" 
                                                class="form-control"
                                                formControlName="numero">
                                        <span class="form-text text-danger"
                                                *ngIf="campoValido('numero')">
                                            El numero es obligatorio
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <label>Departamento/Oficina:</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Block:</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Población/Villa:</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <label>Sector:</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p> Región: <span style="color: red; font-weight: bold;">*</span></p>

                                    </td>
                                    <td>
                                        <select class="form-select" formControlName="region">
                                            <option [ngValue]="null" disabled>Seleccionar</option>
                                            <option selected>Seleccionar</option>
                                            <option value="1">I Región</option>
                                            <option value="1">II Región</option>
                                            <option value="2">III Región</option>
                                            <option value="3">IV Región</option>
                                            <option value="3">V Región</option>
                                            <option value="1">VI Región</option>
                                            <option value="1">VII Región</option>
                                            <option value="2">VIII Región</option>
                                            <option value="3">IX Región</option>
                                            <option value="3">X Región</option>
                                            <option value="1">XI Región</option>
                                            <option value="1">XII Región</option>
                                            <option value="2">XIII Región</option>
                                            <option value="3">XIV Región</option>
                                            <option value="3">XV Región</option>
                                            <option value="3">XVI Región</option>
                                        </select>
                                        <span class="form-text text-danger"
                                                *ngIf="campoValido('region')">
                                            La region es obligatoria
                                        </span>  
                                    </td>
                                </tr>
                                <tr>
                                    <label class="form-label">Comuna:</label>
                                    <td>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Seleccionar</option>
                                            <option value="1">ARICA</option>
                                            <option value="2">CAMARONES</option>
                                            <option value="3">PUTRE</option>
                                            <option value="4">GENERAL LAGOS</option>
                                            <option value="5">IQUIQUE</option>
                                            <option value="6">HUARA</option>
                                            <option value="7">CAMINA</option>
                                            <option value="8">COLCHANE</option>
                                            <option value="9">PICA</option>
                                            <option value="10">POZO ALMONTE</option>
                                            <option value="11">TOCOPILLA</option>
                                            <option value="12">MARIA ELENA</option>
                                            <option value="13">CALAMA</option>
                                            <option value="14">OLLAGUE</option>
                                            <option value="15">SAN PEDRO DE ATACAMA</option>
                                            <option value="16">ANTOFAGASTA</option>
                                        </select>       
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Observación referencia de la dirección:</label>
                                    </td>
                                    <td>
                                        <textarea class="form-control" rows="4" cols="50"></textarea>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <label>Latitud:</label>
                                    </td>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Longitud:</label>
                                    </td>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr> -->
                            </div>
                        </div>




                        <!-- /////////////////////////////////      PARA CASOS DE NNA     ////////////////////////////// -->
                        <hr>

                        <tr>
                            <label class="form-label">Para casos de NNA, indicar:</label>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Niño</option>
                                    <option value="2">Niña</option>
                                    <option value="3">Adolescente</option>
                                </select>       
                            </td>
                        </tr>
                        
                        <br>


                        <tr>
                            <td>
                                <label for="disabledSelect" class="form-label">Parentesco/Vínculo/relación</label>
                            </td>

                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <!-- [(ngModel)]="selectedTipoDocumento" name="parentesco" -->
                                    <option selected>Seleccionar</option>
                                    <option value="1">Padre</option>
                                    <option value="2">Madre</option>
                                    <option value="3">Hermana</option>
                                    <option value="4">Hermano</option>
                                    <option value="5">Tío</option>
                                    <option value="6">Tía</option>
                                    <option value="7">Abuelo</option>
                                    <option value="8">Abuela</option>
                                    <option value="9">Primo</option>
                                    <option value="10">Prima</option>
                                    <option value="11">Vecino</option>
                                    <option value="12">Vecina</option>
                                    <option value="13">Amigo</option>
                                    <option value="14">Amiga</option>
                                    <option value="14">Guardador</option>
                                </select>
                                <!-- <div class="form-group" *ngIf="selectedTipoDocumento == 'otro'">
                                    <input type="text" class="" id="name" ngModel name="other_college_name" required>
                                </div> -->
                            </td>
                        </tr>





                        <!-- <tr>
                            <td style="padding-right: 20px;">
                                <label>¿Es el denunciante el adulto </label><br>
                                <label>protector/referente de la víctima?</label>

                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccione Si / No </option>
                                    <option value="1">Si</option>
                                    <option value="1">No</option>
                                </select>
                            </td>
                        </tr> -->

                        <tr>
                            <td>
                                <label>¿Es el denunciante el adulto protector/referente de la víctima?</label>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input  class="form-check-input" 
                                            type="radio" 
                                            name="inlineRadioOptions1" 
                                            id="inlineRadio1" 
                                            value="option1"
                                            (click)="habilitarCampoDenunciante()" checked>
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input  class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2"
                                            (click)="habilitarCampoDenunciante()">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                                <div class="form-check">
                                    <td style="padding-right: 50px;">
                                        <label>Si la respuesta es NO, indicar los datos del adulto protector/referente:</label>
                                        <textarea class="form-control" rows="4" cols="50" [disabled]="textBoxDisabledDenunciante"></textarea>
                                    </td>
                                </div>
                            </td>
                        </tr>
                        <br>
                        <!-- <tr>
                            <td>
                                <label>Si la respuesta es NO, indicar los datos del adulto protector/referente</label>
                                <br>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr> -->

                        <tr>
                            <td>
                                <label>Persona(s) a quien(es) el niño, niña o adolecente contó los hechos</label><br>
                                <label>(si es que los contó)</label><br>

                            </td>
                            <td>
                                <textarea class="form-control mb-1" rows="2" cols="50"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>¿Cómo supo usted de estos hechos?</label><br>
                            </td>
                            <td>
                                <textarea class="form-control" rows="4" cols="50"></textarea>
                            </td>
                        </tr>
                    </div>
                </div>
            </table>

            <div class="row mt-5">
                <div class="col d-grid gap-2"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/datosgenerales" routerLinkActive="active">Atrás</button></div>
                <div class="col d-grid gap-2"><button type="submit" class="btn btn-primary btn-lg btn-block " routerLink="/delito" routerLinkActive="active">Siguiente</button></div>                
            </div>
        </form>
    </div>
</div>
