<!-- As a link -->




<!-- As a heading -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="padding-left: 50px;">Parte y Denuncia</span>
    </div>
</nav>

<div class="row mt-3">
    <!--area arriba-->
    <div class="col-4">
        <!--area izquierda-->

    </div>


    <div style="text-align: left;" class="col-5">
        <!--area derecha-->


        <form>
            <!-- <fieldset disabled> -->
            <legend style="padding-left: 50px; ">Relato funcionario a cargo de la diligencia o del denunciante para denuncuas NNA </legend>
            <br>

            <tr>
                <td style="padding-right: 50px;">
                    <label>Nombre:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>


            <tr>
                <td style="padding-right: 50px;">
                    <label>Grado:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td style="padding-right: 50px;">
                    <label>Rut:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <tr>
                <td style="padding-right: 50px;">
                    <label>Placa:</label>
                </td>
                <td>
                    <input  type="text">
                </td>
            </tr>

            <tr>
                <td style="padding-right: 50px;">
                    <label>Narracion del hecho:</label>
                </td>
                <td>
                    <textarea class="form-control" rows="12" cols="35"></textarea>
                </td>
            </tr>
            <br>
            <tr>
                <td style="padding-right: 50px;">
                    <label>Firma:</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <br><br>





            <button type="submit" class="btn btn-primary " routerLink="/fiscal" routerLinkActive="active" style="margin-left: 500px; margin-top: 10px;">Siguiente</button>


        </form>


    </div>

</div>

